.form-group {
  margin-bottom: $spacer;

  .input-group-text {
    color: $gray-500;
  }

  .btn-group {
    .btn-check-label {
      color: var(--bs-body-color);
      background-color: var(--bs-body-bg);
      border-color: var(--bs-border-color);
    }

    .btn-check:checked+.btn-check-label {
      color: var(--bs-white);
      background-color: var(--bs-primary);
      border-color: var(--bs-primary);
    }
  }

  .form-label {
    color: var(--bs-heading-color);
    margin-bottom: .5rem;

    &.setting-label {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
    }
  }

  .vti__input {
    background-color: var(--bs-body-bg);
    color: var(--bs-body-color);
    height: 50px;
  }

  .vti__dropdown-list {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
  }

  .vti__dropdown-item.highlighted {
    background-color: var(--bs-primary);
  }

  .vti__dropdown {
    background-color: var(--bs-gray-900);
  }

  .vti__dropdown.open,
  .vti__dropdown:hover {
    background-color: var(--bs-gray-900);
  }

  .vti__dropdown-item {
    color: var(--bs-body-color);
  }
}

.form-group-alt {
  &.input-group {
    box-shadow: $box-shadow-sm;
    border-radius: $border-radius-sm;

    .input-group-text {
      color: $gray-500;
    }

    > :not(:first-child):not(.dropdown-menu) {
      box-shadow: unset;

      &.input-group-text {
        border: 0;
        padding-left: 0;
      }
    }

    > :not(:last-child):not(.dropdown-menu) {
      box-shadow: unset;
      padding-right: 0;

      &.input-group-text {
        border: 0;
      }
    }

    &:focus-within {
      box-shadow: $box-shadow;
    }
  }

  .form-control {
    border: 0;
    box-shadow: $box-shadow-sm;

    &.is-valid {
      &:focus {
        box-shadow: $box-shadow;
      }
    }

    &.is-invalid {
      &:focus {
        box-shadow: $box-shadow;
      }
    }

    &:focus {
      box-shadow: $box-shadow;
    }
  }
}

.form-select {
  box-shadow: none;

  &:focus {

    box-shadow: none;
  }
}

.form-control {
  &[readonly] {
    background-color: $input-bg;
  }
}

.input-group {
  .iti {
    flex-grow: 1;
  }

  .iti--separate-dial-code .iti__selected-flag {
    background-color: var(--bs-gray-900);
  }

  .iti__country-list {
    background-color: var(--bs-body-bg);
    border: 1px solid var(--bs-border-color);
  }

  .iti__country.iti__highlight {
    background-color: var(--bs-primary);
  }
}

.input-group {
  .input-group-text {
    border-right: 0;
  }

  .form-control {
    border-left: 0;
    padding-left: 0;
  }

  &:focus-within {
    .input-group-text {
      border-color: var(--bs-primary);
    }
  }

  &:has(.form-control-sm) {
    .input-group-text {
      border-radius: var(--bs-border-radius-sm);
    }
  }

  &:has(.form-control-lg) {
    .input-group-text {
      border-radius: var(--bs-border-radius-lg);
    }
  }
}

.bg-body,
.modal {
  .form-control {
    background-color: var(--bs-gray-900);
  }
}

.top-input-search {
  .input-group-text {
    background-color: transparent;
    border-right: 1px solid var(--bs-border-color);
  }

  .form-control {
    background-color: transparent;
    padding-left: 1.5rem;
  }
}

.upload-image-box {
  background: var(--bs-body-bg);
  padding: 1rem;
  border-radius: var(--bs-border-radius);
}

// contact input

input.iti__search-input {
  padding: 1rem 1.5rem;
  line-height: 1;
}

.input-group:focus-within .iti__country-container {
  border-left: var(--bs-border-width) solid var(--bs-primary);
}

.input-group .iti__country-container {
  border-radius: 4px;
  border-left: 1px solid transparent;
}

.iti {
  width: 100%;
}

.form-group {
  .text-error {
    color: var(--bs-danger);
  }
}